<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/img/favicon.png" />
  <title>Weather app | {{title}} </title>
</head>
<body>
  <div id="container">
    {{>header}}
  <p>This page provides help to use this app</p>
  {{>footer}}
  </div>
</body>
</html>