* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 60%;
  min-height: 70vh;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgb(216, 215, 215);
  padding: 0px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
h1 {
  color: black;
}
input {
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgb(77, 75, 75);
  border: 1px solid gray;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  color: white;
}
img {
  width: 150px;
  /* background-color: inherit; */
}
#imgContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1.8rem;
}
nav {
  /* background-color: red; */
  margin-bottom: 30px;
}
nav a {
  color: gray;
  text-decoration: none;
  font-size: 18px;
}
nav a:hover {
  color: black;
}
p {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
footer {
  margin-top: 100px;
  font-style: italic;
}
